<h1>My Partypixer Profile</h1>

<p> Do not forget to upload avatar : </p>

<p> <%= cl_image_tag(@user.avatar, class: 'avatar') %>
  My Partypixer Avatar</p>
<p>Nickname : <%= @user.nickname %> </p>
<p>First Name : <%= @user.first_name %></p>
<p>Last Name : <%= @user.last_name %></p>

<%= link_to "Edit my profile", edit_profile_path %>
