<h1>My Partypixer Profile</h1>


  <% if @user.avatar.url.nil? %>
    <%= image_tag("PartyPix_main_logo.png", width: 150, height: 150, crop: :fill, class: "img-circle") %>
      <p><strong>Do not forget to upload avatar</strong></p>
  <% else %>
    <%= cl_image_tag(@user.avatar, class: 'avatar') %>
      My Partypixer Avatar
  <% end %>


<p>Nickname : <%= @user.nickname %> </p>
<p>First Name : <%= @user.first_name %></p>
<p>Last Name : <%= @user.last_name %></p>

<%= link_to "Edit my profile", edit_profile_path, class: "btn btn-major"  %>


