<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= image_tag "PartyPix_main_logo.png", class: "img-responsive center-block" %>
      <div class="text-center">
        <h1>ALL LAST NIGHT PIX<br>IN ONE PLACE</h1>
      </div>
      <div class="text-center">
        <%= render "devise/shared/link_signup"%>
      </div>

      <h2 class="text-center">Welcome Back !</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>


        <div class="text-center">
          <%= f.button :submit, "LOG IN", class: 'btn btn-minor' %>
        </div>

      <% end %>

      <div class="text-center">
        <%= render "devise/shared/links"%>
      </div>
    </div>
  </div>
</div>
