<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <br>
      <br>
      <br>

      <%= image_tag "Party_Pix2.png", class: "img-responsive center-block" %>

      <br>
      <br>

      <div class="text-center">
        <h1>ALL LAST NIGHT PIX<br>IN ONE PLACE</h1>
      </div>

      <br>
      <br>

      <div class="text-center">
        <%= render "devise/shared/link_signup"%>
      </div>

      <br>
      <br>

      <h2 class="text-center">welcome back partypixer !</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>


        <div class="text-center">
          <%= f.button :submit, "SIGN IN", class: 'btn btn-minor' %>
        </div>

      <% end %>
      <br>
      <div class="text-center">
        <%= render "devise/shared/links"%>
      </div>
    </div>
  </div>
</div>
