<html>

  <div class="text-center">
    <h1>Add your pictures!</h1>

    <%= simple_form_for [@room, @picture], html: { class: 'dropzone col-xs-10 col-xs-offset-1', id: 'dropzone-upload' } do |f| %>
      <div class="fallback">
        <%= f.input :photo, label: "Select your pictures!", input_html: {multiple: true, name: "photos[]"} %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit 'Go', class: "btn btn-major" %>
      </div>
    <% end %>
    <%= link_to "validate", room_path(@room), class: "btn btn-major" %>
  </div>
</html>
