<div class="background_rainbow">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><%= cl_image_tag(@picture.photo, class: "original-picture") %></p>
        <p>Credits: <%= cl_image_tag(@picture.user.avatar, class: "avatar-small") %><%= @picture.user.nickname %></p>
      </div>
    </div>

    <% if @picture.upvotes.find_by(user: current_user).nil? %>
      <p><%= link_to "Add-Vote", picture_upvote_path(@picture), method: :post %></p>
    <% elsif @picture.upvotes.find_by(user: current_user) %>
        <p><%= link_to "Remove-Vote", picture_upvote_path(@picture), method: :delete %></p>
    <% end %>

    <p>Total votes: <%= @upvotes.count %></p>

      <% if @picture.comments.empty? %>
        <p>There are no comments yet. Feel free to add one ;)</p>

      <% else %>
        <% @picture.comments.each do |comment| %>
          <div class="comment">

            <div class="infos">
              <div class="element"><%= cl_image_tag(comment.user.avatar, class: "avatar-small") %></div>
              <div class="element"><%= comment.date %></div>
            </div>

            <div class="content">
              <%= comment.content %>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= simple_form_for [@picture, @comment] do |f| %>
        <%= f.input :content, label: "Add a comment..." %>
        <%= f.submit "Add", class: "btn btn-secondary" %>
      <% end %>

  </div>
</div>
