<div class="background_rainbow">
  <div class="container">
    <div class="row">

      <div class="col-xs-12">
        <p"><%= cl_image_tag(@picture.photo, class: "original-picture") %></p>
        <h3>Taken with <i class="fa fa-heart"></i> by <%= @picture.user.nickname %></h3>

      <% if @picture.upvotes.find_by(user: current_user).nil? %>

         <%= link_to picture_upvote_path(@picture), method: :post do %>
            <i class="fa fa-thumbs-up"></i><span class="badge"><%= @upvotes.count %></span>
          <% end %>

      <% else @picture.upvotes.find_by(user: current_user) %>
        <%= link_to picture_upvote_path(@picture), method: :delete do %>
           <i class="fa fa-thumbs-up"></i><span class="badge"><%= @upvotes.count %></span>
        <% end %>
      <% end %>

      <% if @picture.comments.empty? %>
        <p>There are no comments yet. Feel free to add one ;)</p>

      <% else %>

        <% @picture.comments.each do |comment| %>
          <div class="comment">
            <div class=<%= comment.user == current_user ? "comment-display-right" : "comment-display-left" %> >

                <div class="comment-infos">
                  <div class="comment-infos-element"><%= cl_image_tag(comment.user.avatar, class: "avatar-small creator") %></div>
                  <div class="comment-infos-element"><%= comment.date %></div>
                </div>

                <div class="comment-content">
                  <%= comment.content %>
                </div>

            </div>
          </div>
        <% end %>

      <% end %>

        <div class="comment-add">
          <%= simple_form_for [@picture, @comment] do |f| %>
            <%= f.input :content, label:" ", placeholder: "Add your comment..." %>
            <%= f.submit "Add", class: "btn btn-secondary" %>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>
