<div class="background_black">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

<!-- btn back previous page -->

        <div class="back-page">
          <%= link_to room_path(@room) do %>
            <i class="fas fa-arrow-left"></i>
          <% end %>
        </div>

<!-- btn prev-next -->

        <div class="wrapper">
          <%= link_to "", prev_room_picture_path(@room, @picture), class:"nav-item glyphicon glyphicon-chevron-left" %>
          <%= cl_image_tag(@picture.photo, class: "nav-item original-picture") %>
          <%= link_to "", next_room_picture_path(@room, @picture), class:"nav-item glyphicon glyphicon-chevron-right" %>
        </div>

        <h3>Taken by <%= @picture.user.nickname %></h3>

        <div class="flex-picture">
          <!-- votes -->
            <div class= "bord-arrondi text-center ">
              <div class="votes">
                <% if @picture.upvotes.find_by(user: current_user).nil? %>
                  <%= link_to picture_upvote_path(@picture), method: :post , class: "text-center" do %>
                    <i class="voted fa fa-thumbs-up"></i>
                  <% end %>
                  <p><%= @upvotes.count %></p>

                <% else @picture.upvotes.find_by(user: current_user) %>
                  <%= link_to picture_upvote_path(@picture), method: :delete do %>
                    <i class="unvoted fa fa-thumbs-up"></i>
                  <% end %>
                  <p><%= @upvotes.count %></p>
                <% end %>
              </div>
            </div>
          <!-- comment -->

          <%= link_to "#comment-section" do %>
            <div class= "bord-arrondi text-center" >
              <div class=" data-element">
                <i class="svg-pic fa fa-comment"></i>
                <p> <%= @picture.comments.count %></p>
              </div>
            </div>
          <%end%>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class= "comment-scroll" id="comment-section">
    <% if @picture.comments.empty? %>
      <div class="comment-content">
        <p>No comment yet</p>
      </div>
    <% else %>
      <% @picture.comments.each do |comment| %>
        <div class="comment">
          <div class=<%= comment.user == current_user ? "comment-display-right" : "comment-display-left" %> >
              <div class="comment-infos">
                <div class="comment-infos-element"><%= cl_image_tag(comment.user.avatar, class: "avatar-small creator") %>
                  <div class="text-center">  <%= comment.user.nickname %></div>
                </div>

              </div>
              <div class="comment-content"><%= comment.content %>
                <div class="comment-infos-element">- <%= comment.date.strftime("%d %b %Y") %> -</div>

              </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="comment">
      <%= simple_form_for [@picture, @comment], html: {class: "form-inline"} do |f| %>
        <div class="input-group">
          <%= f.input :content, label: false, placeholder: "Add your comment..." %>

          <span class="input-group-btn">
            <%= f.submit "Add", class: "btn btn-default" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
