<div class="background_rainbow">

  <h1>This is my rooms </h1>
  
  <div class="container">

    <div class="row">

        <div class="col-xs-12">
          <div class="year">2018</div>

        <% @rooms.each do |room| %>

            <div class="flat-card">

              <div class="description">
                <div class= "title"><%= room.name %></div>
                <div class= "date"><%= room.date %></div>
              </div>

              <div class="picture">
                  <img src="http://unsplash.it/212/118" alt="">
              </div>
              <%= link_to "", room_path(room), class: "flat-card-link" %>
            </div>
        <% end %>
      </div>

    </div>

  </div>

</div>

<div class="create-links block-center">
    <%= link_to new_room_path, class: "" do %>
      <%= image_tag "rounded-add-button.svg", class: "create-icon" %>
      CREATE A ROOM
    <% end %>
</div>


