<div class="background_rainbow">

  <div class="container">

    <div class="row">

      <div class="col-xs-12">
        <div class="year">2018</div>
      </div>

          <% @rooms.each do |room| %>
          <div class="col-xs-12">

            <div class="flat-card">

              <div class="description">

                <div class= "title"><%= room.name %></div>

                <div class= "date"><%= room.date.strftime("%B %Y") %></div>

                <div class="data-container">
                  <div class="data-element"><i class="fa fa-users"></i></div>
                  <div class="data-element"><i class="fa fa-comment"></i></div>
                </div>

              </div>

              <div class="picture">
                <% if !room.top_picture.nil? %>
                  <%= cl_image_tag room.top_picture.photo, width: 200, height: 110, crop: :thumb, gravity: :face %>
                <% else %>
                   <%= image_tag("PartyPix_main_logo.png", class: "picture-default") %>
                <% end %>
              </div>

              <%= link_to "", room_path(room), class: "link" %>

            </div>
          </div>
          <% end %>
      </div>

    </div>

  </div>

</div>
 <%= link_to new_room_path, class: "" do %>
   <div class="create-links">
      <%= image_tag "rounded-add-button.svg", class: "create-icon" %>
      CREATE A ROOM
   </div>
 <% end %>

