<div class="container">
  <div class="text-center">
    <h2><%= @room.name %> </h2>
    <h3><%= @room.date %> </h3>
  </div>

  <div>
    <% @room.pictures.each do |picture| %>
      <% unless picture.photo.nil? %>
        <div class="cards">
          <div class="card col-xs-6 col-sm-4 col-md-3">
          <%= cl_image_tag(picture.photo, width: 220, height: 220, crop: :fill) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <br>
  <p>Room creator : <%= @room.user.email %></p>
  <p>Room name : <%= @room.name %></p>

  <p>Contributors to the room :
    <% @room.users.each do |user| %>
      <ul>
        <li><%= user.email %></li>
      </ul>
    <% end %>

  </p>

  <p><strong>ready to upload some pix ?</strong></p>
  <%= link_to "upload my pictures", new_room_picture_path(@room) %>
</div>
