<div class="container">
  <div class="text-center">
    <h2><%= @room.name %> </h2>
    <h3><%= @room.date %> </h3>
  </div>

  <br>
    <div class="row">
      <% @room.pictures.each do |picture| %>
        <% unless picture.photo.nil? %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <%= link_to cl_image_tag(picture.photo, width: 200, height: 200, crop: :fill), picture_path %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="text-center">
      <p>Room creator : <%= cl_image_tag(@room.user.avatar, width: 20, height: 20, crop: :fill) %> <%= @room.user.nickname %></p>
      <p>Contributors to the room :
        <% @room.users.each do |user| %>
          <ul>
            <li><%= cl_image_tag(user.avatar, width: 20, height: 20, crop: :fill) %> <%= user.nickname %></li>
          </ul>
        <% end %>
    </div>

    <div class="text-center">
      <p><strong>ready to upload some pix ?</strong></p>
      <%= link_to "upload my pictures", new_room_picture_path(@room), class: "btn btn-minor" %>
    </div>
</div>
