<h1>this is my room</h1>
<p><strong>ready to upload some pix ?</strong></p>
<%= link_to "upload my pictures", new_room_picture_path(@room) %>
<br>
<p>Your pictures :</p>
<ul>
  <% @pictures.each do |picture| %>
    <li><%= cl_image_tag(picture.photo, width: 200, height: 200, crop: :fill) %></li>
  <% end %>
</ul>
<br>
<p>Room creator : <%= @room.user.email %></p>
<p>Room name : <%= @room.name %></p>
<p>Date of the Event : <%= @room.date %> </p>
<p>Contributors to the room :
  <% @room.users.each do |user| %>
    <ul>
      <li><%= user.email %></li>
    </ul>
  <% end %>

</p>
