<% content_for :meta_title, "#{@room.name} is on #{DEFAULT_META["meta_product_name"]}" %>

<div class="container">
  <div class="row">
    <div class="text-center", style="padding: 6px">
      <br>
      <h2><%= @room.name %> </h2>
      <h3><%= @room.date.strftime("%d %b %Y") %></h3>
    </div>

    <div class="contributors-container text-center">

      <!-- On affiche l'image de l'auteur de la room -->
      <%= cl_image_tag(@room.user.avatar, class: "contributors-element avatar-small-creator") %>

      <!-- Puis on affiche tous les contributeurs -->
      <% @room.users.each do |user| %>
          <%= cl_image_tag(user.avatar, class: "contributors-element avatar-small") %>
      <% end %>
    </div>
  </div>

   <div class="cards-container">

    <% @top10_pictures.each do |picture| %>
      <div class="top10-card">
        <%= link_to picture_path(picture) do %>
          <%= cl_image_tag picture.photo, class: "card" %>
            <div class="votes-container">
              <span class="votes-item-icon fas fa-star"></span>
              <span class="votes-item"><%= picture.upvotes.count %></span>
            </div>
        <% end %>
      </div>
    <% end %>

    <% @all_other_pictures.each do |picture| %>
      <div class="card-element">
        <%= link_to picture_path(picture) do %>
          <%= cl_image_tag picture.photo, class: "card" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>




<div class="bottom-menu">
  <div class="bottom-menu-flex">
  <div class="text-center">
    <%= link_to new_room_picture_path(@room), class: "bottom-menu-element" do %>
        <i class="fas fa-upload fa-4x"></i>
      <br>
      Upload Pix
    <% end %>

    <%= link_to new_room_path, class: "bottom-menu-element" do %>
      <i class="fas fa-download fa-4x"></i>
      <br>
      Download Pix
    <% end %>


    <%= link_to new_room_membership_path(@room), class: "bottom-menu-element" do %>
      <i class="fas fa-user-plus fa-4x"></i>
      <br>
      Add Member
    <% end %>

    <%= link_to edit_room_path(@room), class: "bottom-menu-element" do %>
      <i class="fas fa-edit fa-4x"></i>
      <br>
      Edit Room
    <% end %>

    <%= link_to room_path(@room), method: :delete,
        data: { confirm: "Are you sure ?" }, class: "bottom-menu-element" do %>
        <i class="fas fa-trash-alt fa-4x"></i>
        <br>
        Delete Room
    <% end %>
  </div>
  </div>
</div>
