<% content_for :meta_title, "#{@room.name} is on #{DEFAULT_META["meta_product_name"]}" %>

<div class="container">
  <div class="row">
    <div class="text-center">
      <h2><%= @room.name %> </h2>
      <h3><%= @room.date %> </h3>
    </div>

    <div class="text-center avatar-small">
      <%= cl_image_tag(@room.user.avatar, width: 20, height: 20, crop: :fill) %> <%= @room.user.nickname %>
    </div>

    <div class="contributors-container">
      <% @room.users.each do |user| %>
        <div class= "contributors-element avatar-small">
          <%= cl_image_tag(user.avatar, width: 20, height: 20, crop: :fill) %>
        </div>
      <% end %>
    </div>
  </div>

  <% if !@top10_pictures.empty? %>
    <div class="text-center">
      <p> <strong>Top10</strong> pictures</p>
    </div>

    <div class="top10-container">

        <% @top10_pictures.each do |picture| %>

          <%= link_to picture_path(picture) do %>
            <%= cl_image_tag picture.photo, class: "top10card" %>
          <% end %>

        <% end %>
    </div>
  <% end %>

  <div class="text-center">
    <p> <strong>All</strong> pictures</p>
  </div>

  <div class="cards-container">
    <% @room.pictures.each do |picture| %>
        <%= link_to picture_path(picture) do %>
          <%= cl_image_tag picture.photo, class: "card" %>
        <% end %>
    <% end %>
  </div>
</div>



<div class="show-links">

  <div class="text-center">
    <%= link_to new_room_picture_path(@room), class: "" do %>
      <%= image_tag "upload.png" %>
      <br>
      Upload Pix
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to new_room_path, class: "" do %>
      <%= image_tag "download.png" %>
      <br>
      Download Pix
    <% end %>
  </div>

  <div class="text-center">
    <%= link_to new_room_membership_path(@room), class: "" do %>
      <%= image_tag "add-user.png" %>
      <br>
      Add Members
    <% end %>
  </div>

  <div class="text-center">
    <%= link_to edit_room_path(@room), class: "" do %>
      <%= image_tag("edit.png", size: "35x35") %>
      <br>
      Edit Room
    <% end %>
  </div>

  <div class="text-center">
    <div>
      <%= image_tag("blue-rubbish-bin.png", size: "35x35") %>
    </div>
  <%= link_to 'Delete Room', room_path(@room),
    method: :delete,
    data: { confirm: "Are you sure ?" }, class: "text-center" %>
  </div>
</div>
